<ion-view view-title="客户管理">
    <ion-nav-buttons side="left">
        <button native-ui-sref="home" native-options="{type: 'slide', direction:'right'}" class="button button-positive icon ion-chevron-left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button native-ui-sref="home" native-options="{type: 'flip', direction:'left', duration:400}" class="button button-positive icon ion-android-home"></button>
    </ion-nav-buttons>
    <ion-content scroll="false" overflow-scroll="false" class="has-header" has-bouncing="false">
        <div class="tab-buttons" style="z-index:9999;">
            <div class="button-bar">
                <a ng-click="vc.switchType('pre')" style="transition:.2s all linear;" class="button" ng-style="{color:vo.index==0?'#32cd32':'',background:vo.index==0?'white':''}">准客户</a>
                <a ng-click="vc.switchType('old')" style="transition:.2s all linear;" class="button" ng-style="{color:vo.index==1?'#32cd32':'',background:vo.index==1?'white':''}">老客户</a>
                <a ng-click="vc.switchType('net')" style="transition:.2s all linear;" class="button" ng-style="{color:vo.index==2?'#32cd32':'',background:vo.index==2?'white':''}">网络客户</a>
            </div>
            <div class="line" ng-style="{left:vo.index*100/3+'%',width:100/3+'%'}"></div>
        </div>
        
        <ion-nav-view name="customer"></ion-nav-view>
    </ion-content>
    <style type="text/css">
        .tab-buttons{
            position:relative;
            border-bottom:1px solid #ddd;
        }
        .tab-buttons .button.activated{
            border-color:#f8f8f8;
            background:#f8f8f8;
        }
        .button-bar .button{
            padding:0;
        }
        .tab-buttons .line{
            display:inline-block;
            position:absolute;
            top:46px;
            z-index:9;
            height:3px;
            line-height:3px;
            border-bottom:3px solid #32cd32;
            transition:left .2s ease-in-out;
        }
        .fade-in{
            animation-duration: .5s;
            transition:.5s linear all;
        }
        .fade-in.ng-enter{
            opacity:0;
        }
        .fade-in.ng-enter-active {
            opacity:1;
        }
        .fade-in.ng-enter-stagger  {
            animation-delay: 0.1s;
            animation-duration: 0s;
        }
    </style>
</ion-view>