<ion-view view-title="Lxt">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-positive icon ion-navicon-round"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button ng-click="vc.showPopover($event)" class="button button-positive icon ion-code-working"></button>
    </ion-nav-buttons>
    
    
    <toast ng-model="toast" position="bottom"></toast>
    <ion-content class="has-header" overflow-scroll="false" on-scroll="vc.onHomeScroll(event)" delegate-handle="homeScroll">
        <!-- 轮播 -->
        <ion-slide-box does-continue="true" auto-play="true" style="text-align:center;width:100%;margin-bottom:-5px;">
            <ion-slide ng-repeat="item in vo.slides track by $index">
                <i ng-class="item.icon" style="line-height:200px;color:#26a2ff;font-size:100px;"></i>
            </ion-slide>
        </ion-slide-box>
        
        <!-- 功能菜单 -->
        <table class="icon-table text-content">
            <tr>
                <td>
                    <div ui-sref="list">
                        <i class="fa fa-fw fa-users" style="color:#ff7f50"></i><br/>
                        <span>动态列表</span>
                    </div>
                </td>
                <td>
                    <div ui-sref="chart">
                        <i class="fa fa-fw fa-bar-chart" style="color:#87cefa"></i><br/>
                        <span>动态图表</span>
                    </div>
                </td>
                <td>
                    <div ui-sref="contacts">
                        <i class="fa fa-fw fa-book" style="color:#da70d6"></i><br/>
                        <span>通讯录</span>
                    </div>
                </td>
                <td>
                    <div ui-sref="form">
                        <i class="fa fa-fw fa-list-alt" style="color:#32cd32"></i><br/>
                        <span>表单</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div ui-sref="tab">
                        <i class="fa fa-fw fa-folder" style="color:#6495ed"></i><br/>
                        <span>选项卡</span>
                    </div>
                </td>
                <td>
                    <div ui-sref="login">
                        <i class="fa fa-fw fa-lock" style="color:#ff69b4"></i><br/>
                        <span>登录</span>
                    </div>
                </td>
                <td>
                    <div ui-sref="loading">
                        <i class="fa fa-fw fa-spinner fa-pulse" style="color:#40e0d0"></i><br/>
                        <span>加载图标</span>
                    </div>
                </td>
                <td>
                    <div ui-sref="live">
                        <i class="fa fa-fw fa-video-camera" style="color:#cd5c5c"></i><br/>
                        <span>在线直播</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div ui-sref="calendar">
                        <i class="fa fa-fw fa-calendar" style="color:#ffa500"></i><br/>
                        <span>日历</span>
                    </div>
                </td>
                <td>
                    <div ui-sref="map">
                        <i class="fa fa-fw fa-map" style="color:#40e0d0"></i><br/>
                        <span>地图</span>
                    </div>
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
        </table>
        
        <div class="list">
            <div class="item item-divider positive">
                <i class="ion-star"></i> 待办事项
            </div>
            <timeline items="vo.timelines"></timeline>
        </div>
    </ion-content>

    <script id="my-popover.html" type="text/ng-template">
          <ion-popover-view>
            <ion-header-bar>
              <h1 class="title">My Popover Title</h1>
          </ion-header-bar>
          <ion-content>
              Hello!
          </ion-content>
      </ion-popover-view>
    </script>
    
    <style>
        .slider-pager .slider-pager-page{
            color:white!important;
        }
        .slider-slide img{
            width:100%;
        }
        .slide-banner{
            position:absolute;
            top:20px;
            padding:0 15px;
            height:30px;
            line-height:30px;
            width:100%;
            font-size:14px;
            color:#DDD;
        }
        .slide-icon{
            width:22px;
            vertical-align:middle;
        }
        .icon-table{
            width:100%;
            text-align:center;
            background:white;
            font-size:13px;
            font-family: '黑体';
            border:none;
        }
        .icon-table td{
            height:80px;
            vertical-align:middle;
            border:1px solid #f0f0f0;
        }
        .icon-table td i{
            font-size:24px;
        }
        .icon-table img{
            width:32px;
            height:32px;
        }

        .timeline-item{
            width:100%;
            margin-left:-10px;
            display:flex;
            box-sizing: content-box;
        }
        .timeline-item *{
            box-sizing: content-box;
        }
        
        .line-item{
            flex:0 0 80px;
        }
        .line{
            position:relative;
            margin:0 auto;
            padding:0;
            width:0px;
            height:100%;
            border-width:1px;
        }
        .line.history{
            border-style:solid!important;
        }
        .line-start{
            position:absolute;
            left:-6px;
            top:-2px;
            width:6px;
            height:6px;
            border-radius:50%;
            background:#fff;
            border:3px solid #26a2ff;
        }
        .line-icon{
            position:relative;
            top:22px;
            left:-12px;
            text-align:center;
            line-height:24px;
            width:24px;
            height:24px;
            border-radius:50%;
            box-shadow: 2px 2px 5px #888888;
            color:#fff;
        }
        .content-item{
            flex:1 0 100px;
            border-radius:0 4px 4px 0;
            margin-top:22px;
            position:relative;
        }
        .content-arrow{
            position:absolute;
            top:5px;
            left:-12px;
            width:0;
            height:0;
            border-top:8px solid #fff;
            border-bottom:8px solid #fff;
        }
        .content-title{
            font-size:16px;
            height:20px;
            line-height:20px;
            padding:4px 10px;
        }
        .content-details{
            padding:10px;
            font-size:14px;
        }
        .content-time{
            padding:5px;
            font-size:12px;
            color:#888;
            text-align:right;
        }
    </style>
</ion-view>