<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<meta charset="utf-8">
<title>在线直播</title>
</head>

<body>
<div class="video" id="HLSPlayer" >
<SCRIPT LANGUAGE=JavaScript>
<!--
/*
* HLSPlayer参数应用=========================<br>
* @Contact QQ:261532593 
* @param {Object} vID        ID
* @param {Object} vWidth     播放器宽度设置
* @param {Object} vHeight    播放器宽度设置
* @param {Object} vPlayer    播放器文件
* @param {Object} vHLSset    HLS配置
* @param {Object} vPic       视频缩略图
* @param {Object} vCssurl    移动端CSS应用文件
* @param {Object} vHLSurl    HLS(m3u8)地址
* ==========================================
*/
var vID        = ""; 
var vWidth     = "100%";                //播放器宽度设置
var vHeight    = 400;                   //播放器宽度设置
var vPlayer    = "../../../player/HLSPlayer.swf?v=1.5"; //播放器文件
var vHLSset    = "../../../player/HLS.swf";             //HLS配置
var vPic       = "../../../player/images/start.jpg";    //视频缩略图
var vCssurl    = "../../../player/images/mini.css";     //移动端CSS应用文件

//HLS(m3u8)地址,适配PC,安卓,iOS,WP
var vHLSurl    = location.href.substr(location.href.indexOf('url=')+4);
</SCRIPT> 
<script type="text/javascript" src="../../../player/js/hls.min.js?rand=20141217"></script>
</div>
</body>
</html>
