<ion-view view-title="tab">
	<ion-nav-buttons side="left">
        <button native-ui-sref="home" native-options="{type: 'slide', direction:'right'}" class="button button-positive icon ion-chevron-left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button native-ui-sref="home" native-options="{type: 'flip', direction:'left', duration:400}" class="button button-positive icon ion-android-home"></button>
    </ion-nav-buttons>

    <ion-content>
		fdsfdsfds<br/>fdsfdsfds<br/>fdsfdsfds<br/>fdsfdsfds<br/>fdsfdsfds<br/>fdsfdsfds<br/>fdsfdsfds<br/>fdsfdsfds<br/>fdsfdsfds<br/>fdsfdsfds<br/>fdsfdsfds<br/>
    </ion-content>
</ion-view>
